
<div class="post" data-post-id="{{id}}">
    <div>
        <div>
            {{#if (is_current_user currentUserId currentProfile.id)}}
                <div class="ed-de-button-div">
                    <button data-id="{{id}}" class="edit-post-button" id="edit-button" id="edit-button">Edit</button>
                    <button data-id="{{id}}" class="delete-post-button" id="delete-button">Delete</button>
                </div>
            {{/if}}
            <section>
                <h4 class="post-title">{{post_title}}</h4>
                <p class="post-text">{{text}}</p>
            </section>
        </div>
    </div>
    <div class="comment-section">
        {{>comment}}
    </div> 
    <hr class="hr-style">
</div>

