<div class="post" data-post-id="{{id}}">
    <div>
        <div>
            <span>{{post_title}}</span>
            <p>{{text}}</p>
        </div>
    </div>
    <div class="comment-section">
        <h3>Leave a comment:</h3>
        <div>
            {{#if comments}}
                {{#each comments as |comment|}}
                    <div class="comment">
                        <h3>{{comment.user.username}}</h3>
                        <p>{{comment.comment_text}}</p>
                        <p>{{comment.createdAt}}</p>
                    </div>
                {{/each}}
            {{else}}
                <p>"You have no comments"</p>  
            {{/if}}
        </div>
        <form>
            <textarea name="comment" id="comment-text" placeholder="Write your comment here"></textarea>
            <button type="submit" class="comment-button">Submit</button>
        </form>
    </div>
    <div>
        <button type="submit" class="like-button">Like</button>
        <span class="likes-count">0</span>
    </div>
</div>

