{{>navbar logged_in=logged_in}}
<h1>Profile</h1>

{{#if (isCurrentUser req.session.id req.params.id)}}
    <p>Welcome to your profile!</p>
{{/if}}

<div>
    <div c
    lass="follow-button-element" 
        data-follower-id={{follower_id}} 
        data-followee-id={{followee_id}} 
        >

        <button class="follow-button">Follow</button>
    </div>
    <div>
        <span class="follows-count">Followers: {{followerCount}}</span>
        <span class="following-count">Following: {{followingCount}}</span>
    </div>
</div>

<div>
    {{#if posts}}
        {{#each posts as |post|}}
        {{> post}}
        {{/each}}
    {{else}}
        <p>"They have no posts"</p>
    {{/if}}
</div>

<link rel="stylesheet" href="css/navbar.css">