<h1>Profile</h1>

<div>
    <div class="follow-button-element" 
        data-follower-id={{follower_id}} 
        data-followee-id={{followee_id}} 
        >

        <button class="follow-button">Follow</button>
    </div>
    <div>
        <span class="follows-count">Followers: {{followerCount}}</span>
        <span class="following-count">Following: {{followerCount}}</span>
    </div>
</div>

<div>
    {{#if posts}}
        {{#each posts as |post|}}
        {{> post}}
        {{/each}}
    {{else}}
        <p>"They have no posts"</p>
    {{/if}}
</div>
   