<h1>Profile</h1>


{{#if (is_creator)}}
    <p>Welcome to your profile!</p>
{{/if}}

<div class="main-div-profile">
    <div>
        <div>
        <h2>{{currentProfile.username}}</h2>
    </div>

    <div>
        <div class="follow-button-element" 
        data-follower-id={{follower_id}} 
        data-followee-id={{followee_id}} 
        >

            <button class="follow-button">Follow</button>
        </div>
        <div>
            <span class="follows-count">Followers: {{followerCount}}</span>
            <span class="following-count">Following: {{followingCount}}</span>
        </div>

    {{#if (is_creator)}}
        {{>newPost}}
    {{/if}}

    <div>
        {{#if posts }}
            {{#each posts as |post|}}
            {{> post}}
            {{/each}}
        {{else}}
            <p>"They have no posts"</p>
        {{/if}}
    </div>
    </div>
    <div>
        <h2>{{currentProfile.username}}</h2>
    </div>

    <div>
        <div class="follow-button-element" 
        data-follower-id={{follower_id}} 
        data-followee-id={{followee_id}} 
        >

            <button class="follow-button">Follow</button>
        </div>
        <div>
            <span class="follows-count">Followers: {{followerCount}}</span>
            <span class="following-count">Following: {{followingCount}}</span>
        </div>
    </div>

    {{#if (is_creator)}}
        {{>newPost}}
    {{/if}}

    <div>
        {{#if posts }}
            {{#each posts as |post|}}
            {{> post}}
            {{/each}}
        {{else}}
            <p>"They have no posts"</p>
        {{/if}}
    </div>
</div>