{{>navbar logged_in=logged_in}}

<div class="profile-data-div">
    <h2 class="username-title">{{currentProfile.username}}</h2>
    <div class="follow-button-element" 
        data-follower-id={{follower_id}} 
        data-followee-id={{followee_id}}>
        {{#if (is_following followed)}}
            {{#if (is_current_user currentUserId currentProfile.id)}}
            {{else}}
                <button class="follow-button">Follow</button>
            {{/if}}
        {{else}}
            <button class="following-button">Following</button>
        {{/if}}
    </div>
    <div>
        <span class="counts" class="follows-count">Followers: {{followerCount}}</span>
        <span class="counts" class="following-count">Following: {{followingCount}}</span>
    </div>
</div>

<div class="new-post-div">
    {{#if (is_creator)}}
    {{> newPost}}
    {{/if}}
</div>



<div class="post-container">
    <div class="main-div-post">
        <div class="post-div">
            {{#if posts }}
                {{#each posts as |post|}}
                    {{> post is_current_user=is_current_user currentUserId=../currentUserId currentProfile=../currentProfile}}
                {{/each}}
            {{else}}
                <p>"They have no posts"</p>
            {{/if}}
        </div>
    </div>
</div>